body {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/tree.jpg");
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.sidebar-nav {
    background-color: #f0e678;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    list-style-type: none;
}
a {
    color: #193628;
    opacity: .8;
    margin-bottom: 8px;
}
a:hover {
    color: #193628;
    opacity: 1;
}
.container-fluid {
    background-color: rgba(255, 255, 255, .8);
    padding: 10px;
    min-height: 100vh;
    height: 100%;
}
form input {
    border-radius: 4px;
    border-color: #193628;
}
.login {
    background-color: #f0e678;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: fit-content;
    justify-content: center;
}
.btn {
    border-radius: 4px;
    background-color: #193628;
    color: white;
    padding: 10px;
}
.btn:hover {
    background-color: #74b559;
    color: #193628;
}
.pagination {
    text-align: center;
}
.list-section {
    background-color: #f0e678;
    border-radius: 4px;
    padding: 10px;
    list-style-type: none;
    max-width: 60%;
}
.list-section li {
    margin-bottom: 5px;
}
.comments {
    border: #193628 solid 2px;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    margin-top: 35px;
}
.comment {
    background-color: #f0e678;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.blog-post {
    margin-top: 35px;
    width: 80%;
}
.fieldWrapper {
    background-color: #f0e678;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 500px;
}
.login-out {
    margin-bottom: 15px;
    border-bottom: #193628 solid 2px;
    padding: 10px;
}